<div id="modal-add-edit"  data-backdrop="static" data-keyboard="false" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add edit product</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group">
                            <label for="hidId" class="col-sm-2 control-label no-padding-right">ID <span class="text_lable_red">*</span></label>
                            <div class="col-sm-10">
                                <textarea rows="4" name="hidId" class="form-control" id="hidId"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtNameM" class="col-sm-2 control-label no-padding-right">Name <span class="text_lable_red">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="txtName" class="form-control" id="txtName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtPhone" class="col-sm-2 control-label no-padding-right">Phone <span class="text_lable_red">*</span></label>
                            <div class="col-sm-10">
                                <textarea rows="4" name="txtPhone" class="form-control" id="txtPhone"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail" class="col-sm-2 control-label no-padding-right">Email <span class="text_lable_red">*</span></label>
                            <div class="col-sm-10">
                                <input rows="4" name="txtEmail" class="form-control" id="txtEmail" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtLat" class="col-sm-2 control-label no-padding-right">Latitude <span class="text_lable_red">*</span></label>
                            <div class="col-sm-10">
                                <input rows="4" name="txtLat" class="form-control" id="txtLat" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtLng" class="col-sm-2 control-label no-padding-right">Longitude<span class="text_lable_red">*</span></label>
                            <div class="col-sm-10">
                                <input rows="4" name="txtLng" class="form-control" id="txtLng" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtWebsite" class="col-sm-2 control-label no-padding-right">Website</label>
                            <div class="col-sm-10">
                                <input rows="4" name="txtWebsite" class="form-control" id="txtWebsite" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtAddress" class="col-sm-2 control-label no-padding-right">Address<span class="text_lable_red">*</span></label>
                            <div class="col-sm-10">
                                <input rows="4" name="txtAddress" class="form-control" id="txtAddress" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked="checked" id="ckStatus">
                                        <span class="text">Active.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSave" class="btn btn-success">Save changes</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>