<div id="modal-edit-pass" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Đổi mật khẩu</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainanceChangePass">
                        <div class="form-group">
                            <input type="hidden" id="hidId" value="" />
                            <label for="FullName" class="col-sm-2 control-label">Full name</label>
                            <div class="col-sm-10">
                                <input type="text" name="FullName" class="form-control" id="FullName">
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label for="txtPasswordChange" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" name="txtPasswordChange" class="form-control" id="txtPasswordChange" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtConfirmPasswordChange" class="col-sm-2 control-label">Confirm password</label>
                            <div class="col-sm-10">
                                <input type="password" name="txtConfirmPasswordChange" class="form-control" id="txtConfirmPasswordChange">
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSave-pass" class="btn btn-success">Save</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-default">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>